{% extends "base.html" %}

{% block content %}

{% if request.session.team %}
<div class="container">
    <br/> 
    <form class="well" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Team Name</label> 
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}">Team Password</label>
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="{{ form.member_1.id_for_label }}">Team Member</label>
                {{ form.member_1 }}
                {{ form.member_1.errors }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.email_1.id_for_label }}">Email</label>
                {{ form.email_1 }}
                {{ form.email_1.errors }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.size_1.id_for_label }}">Shirt Size (only if at CMU)</label>
                {{ form.size_1 }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="{{ form.member_2.id_for_label }}">Team Member</label>
                {{ form.member_2 }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.email_2.id_for_label }}">Email</label>
                {{ form.email_2 }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.size_2.id_for_label }}">Shirt Size (only if at CMU)</label>
                {{ form.size_2 }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="{{ form.member_3.id_for_label }}">Team Member</label>
                {{ form.member_3 }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.email_3.id_for_label }}">Email</label>
                {{ form.email_3 }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.size_3.id_for_label }}">Shirt Size (only if at CMU)</label>
                {{ form.size_3 }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="{{ form.member_4.id_for_label }}">Team Member</label>
                {{ form.member_4 }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.email_4.id_for_label }}">Email</label>
                {{ form.email_4 }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.size_4.id_for_label }}">Shirt Size (only if at CMU)</label>
                {{ form.size_4 }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.diet.id_for_label }}">Dietary Restrictions (only if at CMU)</label>
            {{ form.diet }}
        </div>
        <button type="submit" class="btn btn-primary" name="submit">Submit</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteConfirmModal">Delete Team</button>
    </form>

    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="deleteConfirmModalLabel">Confirm deletion</h4>
          </div>
          <form method="post">
          <div class="modal-body">
          {% csrf_token %}
          Are you sure you want to delete {{ request.session.team }}? All data associated with this team will be lost.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button name="delete" class="btn btn-danger">Confirm</button>
          </div>
        </form>
        </div>
      </div>
    </div>

</div>
{% endif %}

{% endblock %}
